<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>iSTATUS</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link th:href="@{/styles/site.css}" rel="stylesheet" />
	<style>
	</style>
</head>

<body>

	<nav th:replace="~{layouts/common :: navbar}"></nav>
	
	<h1>Hello, WRLD! <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWo4dTliZ2tiOGtsM2xqZ3hlZWdmMmJ5Zm96YTdwbjc2amhvMHl0ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/dWaU3kRP3IhAjzEXd1/giphy.gif" 
		style="height:42px; width:auto;"/> </h1> 
	<p>Don't be shy, explore this open resource and leave a status!
		
	<iframe src="https://blogsite-683b9a84776e.herokuapp.com" 
			style="border:2px dashed black; border-radius:8px; margin-top:10px; padding:5px; width:100%;"
			id="BloggingSiteIframe"></iframe>
	
</body>
</html>