#BloggingSiteIframe {
	height:750px;
}

body {
	padding:1% 5%;
}

label {
	margin-top:1%;
	padding-right:1%;
	font-weight:bolder;
}

#navbar {
	margin-bottom:1%;
}

.StatusBox {
	margin-top:2%;
	border-top:2px dashed dodgerblue;
	padding-bottom:2%;
	word-wrap:break-word;
}

#StatusPhotoUrlInput {
	width:100%;
}

.PhotoPreview {
	display:block;
	height:auto;
	margin:1% 0%;
	transition: all 0.50s;
	/*width:300px;*/
	width:25%;
}
	.PhotoPreview:hover {
		cursor:pointer;
		transform:translateX(15%);
		width:75%;
	}

#StatusMessageInput {
	width:100%;
	padding:1%;
	min-height:250px;
}

#SubmitStatusBtn {
	margin-top:1%;
}

@media (max-width:600px) {
	#BloggingSiteIframe {
		height:600px;
	}
	.PhotoPreview {
		width:35%;
	}
	.PhotoPreview:hover {
		transform:translateX(0%);
		width:100%;
	}
}